@import "custom.css";
@import "templatemo.css";

*{
    margin: 0;
    padding: 0;
}
.logo-login{
    height: 150px !important;
    width: 150px !important;
}
.logo-login img{
    height: 150px !important;
    width: 150px !important;
    object-fit: cover !important;
}
